extends layout.jade

block content
  h4 No, seriously, don't.
  |       Don't be an asshole, support entertainment. #{title}
  ul(style='grid-template-rows:repeat(2, 1fr)')
    li.vidPlaceHolder
      a(href='/viewer/mid90s')
        div
          span Mid90s
          br
          img(src="//upload.wikimedia.org/wikipedia/en/thumb/2/27/Mid90s_%282018_movie_poster%29.png/220px-Mid90s_%282018_movie_poster%29.png", alt="")
          br
          p Mid90s tells a clear-eyed yet nostalgic coming-of-age tale that might mark the start of an auspicious new career for debuting writer-director Jonah Hill.
    //- li.vidPlaceHolder
    //-   a(href='/viewer/rick-and-morty/ricknmorty0402')
    //-     div
    //-       header
    //-         h4
    //-           span
    //-             | EP &nbsp;
    //-             //
    //-             | 2. &nbsp;
    //-             //
    //-           span The Old Man And The Seat
    //-           br
    //-           small We all have one thing in common broh. I don't know broh. Watch this one.
    //- li.vidPlaceHolder
    //-   a(href='/viewer/rick-and-morty/ricknmorty0403')
    //-     div
    //-       header
    //-         h4
    //-           span
    //-             | EP &nbsp;
    //-             //
    //-             | 3. &nbsp;
    //-             //
    //-           span One Crew Over The Crewcoo's Morty
    //-           br
    //-           small Lots of twists and turns this time Broh. Wear your helmets.
  style(media='screen').
    #videoPlayer
    {
    width: 500px;
    height: 500px;
    }
    .vidPlaceHolder{
      margin-bottom: 35px;
    }
