extends layout.jade

block content
  h4 No, seriously, don't. enjoy :)
  div
    a(href='/') go back home
  div#videoContainer
    video#videoPlayer(controls)
      source(src='/viewer/videos/#{video}', type='video/mp4', playsinline)
      track(label="English" kind="subtitles" srclang="en" src="/subs/#{video}.vtt")
        
    style(media='screen').
      #videoPlayer
      {
      width: 500px;
      height: 500px;
      }
      #videoContainer
      {
        margin:auto;
        width: 50%;
      }
